<div class="container-fluid">
  <div class="row">
    <%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Por favor corrige los siguentes errores:</strong>
      <ul>
        <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

      <div>
          <div class="col-sm-6">
            <h4 for="">Zona</h4>
          </div>
          <div class="col-sm-6">
                <%= f.collection_select :zone_id, Zone.all, :id,:name, {prompt: 'Seleccione Zona', class: 'form-control'} %>
          </div>
      </div>


      <!-- <div class="form-group">
        <h4 for="">Zona</h4>
        <%= f.collection_select :zone_id, Zone.all, :id,:name, {prompt: 'Seleccione Zona'} %>
      </div> -->

      <div class="form-group">
        <h4 for="">Ruta</h4>
        <%= f.collection_select :route_id, Route.all, :id,:name, {prompt: 'Seleccione Ruta'} %>
      </div>

      <div class="form-group">
        <h4 for="">Código sn</h4>
        <%= f.text_field :code_sn, placeholder: "Ingrese código sn" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Nombre</h4>
        <%= f.text_field :name, placeholder: "Ingrese nombre de cliente" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Razón Social</h4>
        <%= f.text_field :code_sn, placeholder: "Ingrese razón social de la empresa" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Nit</h4>
        <%= f.text_field :nit, placeholder: "Ingrese nit" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Dirección</h4>
        <%= f.text_field :address, placeholder: "Ingrese Dirección" , class: "form-control" %>
      </div>
      <div class="form-group">
        <h4 for="">Ciudad</h4>
        <%= f.text_field :city, placeholder: "Ingrese nit" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Nombre de contacto</h4>
        <%= f.text_field :contact_name, placeholder: "Ingrese nombre de contacto" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Telefono1 de contacto</h4>
        <%= f.text_field :contact_phone1, placeholder: "Ingrese telefono1 de contacto" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Telefono2 de contacto</h4>
        <%= f.text_field :contact_phone2, placeholder: "Ingrese telefono2 de contacto" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Email de contacto</h4>
        <%= f.text_field :contact_email, placeholder: "Ingrese email de contacto" , class: "form-control" %>
      </div>

      <div class="form-group">
        <h4 for="">Habilitado</h4>
        <%= f.text_field :enable, placeholder: "" , class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Guardar", class: "btn btn-primary" %>
      </div>

    </div>

    <% end %>

  </div>
</div>
