<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>
<%= link_to "Create Client", new_client_path, class: "btn btn-primary btn-lg active pull-right", role: "button" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 150px;">Actions</th>
      <th>Zone</th>
      <th>Route</th>
      <th>Code sn</th>
      <th>Name</th>
      <th>Business name</th>
      <th>Nit</th>
      <th>Address</th>
      <th>City</th>
      <th>Enable</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
            <%= link_to client, class: 'btn btn-default', title: 'Show' do %>
            <i class="fa fa-eye"></i>
            <% end %>

            <%= link_to edit_client_path(client), class: 'btn btn-default',  title: 'Edit'  do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>

            <%= link_to client, class: 'btn btn-default', title: 'Delete' ,  method: :delete, data: { confirm: 'Va a eliminar información de forma irreversible... ¿Desea continuar?' }  do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
        </td>
        <td><%= client.zone.name %></td>
        <td><%= client.route.name %></td>
        <td><%= client.code_sn %></td>
        <td><%= client.name %></td>
        <td><%= client.business_name %></td>
        <td><%= client.nit %></td>
        <td><%= client.address %></td>
        <td><%= client.city %></td>
        <td><%= client.enable %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
