<p id="notice"><%= notice %></p>

<h1>Listing  Zones</h1>
<div class="table-responsive">
  <%= link_to "Create Zone", new_zone_path, style: "margin-bottom: 15px;", class: "btn btn-primary btn-lg active pull-right", role: "button" %>

  <table id="zone_lists" class="table table-striped">
  <thead>
    <tr>
      <th style="width: 100px;">Actions</th>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td>
            <%= link_to zone, class: 'btn btn-default', title: 'Show' do %>
            <i class="fa fa-eye"></i>
            <% end %>

            <%= link_to edit_zone_path(zone), class: 'btn btn-default', title: 'Edit' do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>

            <%= link_to zone, class: 'btn btn-default', title: 'Delete', method: :delete, data: { confirm: 'Va a eliminar información de forma irreversible... ¿Desea continuar?' }  do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
        </td>
        <td><%= zone.name %></td>
        <td><%= zone.code %></td>
        <td><%= zone.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
