<p id="notice"><%= notice %></p>

<h1>Listado  Zonas</h1>
<div class="table-responsive">
  <%= link_to "Crear Zona", new_zone_path, class: "btn btn-primary btn-lg active", role: "button" %>

  <table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 300px;">Acciones</th>
      <th>Nombre</th>
      <th>Código</th>
      <th>Descripción</th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td>
          <%= link_to 'Ver',zone, class: "btn btn-success btn-xs" %>
          <%= link_to 'Editar', edit_zone_path(zone), class: "btn btn-warning btn-xs" %>
          <%= link_to 'Borrar', zone, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Va a eliminar información de forma irreversible... ¿Desea continuar?' } %>
        </td>
        <td><%= zone.name %></td>
        <td><%= zone.code %></td>
        <td><%= zone.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
