<p id="notice"><%= notice %></p>

<h1>Listado  Zonas</h1>
<div class="table-responsive">
  <%= link_to "Crear Zona", new_zone_path, class: "btn btn-primary btn-lg active pull-right", role: "button" %>

  <table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 300px;">Acciones</th>
      <th>Nombre</th>
      <th>Código</th>
      <th>Descripción</th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td>
            <%= link_to zone, class: 'btn btn-default' do %>
            <i class="fa fa-eye"></i>
            Show
            <% end %>

            <%= link_to edit_zone_path(zone), class: 'btn btn-default' do %>
              <i class="fa fa-pencil-square-o"></i>
              Edit
            <% end %>

            <%= link_to zone, class: 'btn btn-default',  method: :delete, data: { confirm: 'Va a eliminar información de forma irreversible... ¿Desea continuar?' }  do %>
              <i class="fa fa-trash-o"></i>
              Delete
            <% end %>
        </td>
        <td><%= zone.name %></td>
        <td><%= zone.code %></td>
        <td><%= zone.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
