<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Details#<%= @zone.id %></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>name:</strong>
      <%= @zone.name %>
    </p>

    <p>
      <strong>code:</strong>
      <%= @zone.code %>
    </p>

    <p>
      <strong>description:</strong>
      <%= @zone.description %>
    </p>
  </div>
</div>

<%= link_to "Edit",edit_zone_path(@zone), class: "btn btn-success" %>
<%= link_to "Back",zones_path, class: "btn btn-info" %>
