<h1>Show Zone</h1>

<p id="notice"><%= notice %></p>
    <p>
      <strong>name:</strong>
      <%= @zone.name %>
    </p>

    <p>
      <strong>code:</strong>
      <%= @zone.code %>
    </p>

    <p>
      <strong>description:</strong>
      <%= @zone.description %>
    </p>
</div>

<%= link_to "Edit",edit_zone_path(@zone), class: "btn btn-success" %>
<%= link_to "Back",zones_path, class: "btn btn-info" %>
