<p id="notice"><%= notice %></p>

<p>
  <strong>Subline:</strong>
  <%= @product.subline %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @product.reference %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
