<p id="notice"><%= notice %></p>

<h1>Listing Sublines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sublines.each do |subline| %>
      <tr>
        <td><%= subline.name %></td>
        <td><%= subline.code %></td>
        <td><%= subline.description %></td>
        <td><%= link_to 'Show', subline %></td>
        <td><%= link_to 'Edit', edit_subline_path(subline) %></td>
        <td><%= link_to 'Destroy', subline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subline', new_subline_path %>
