<h1>Show Subline</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subline.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @subline.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subline.description %>
</p>

<%= link_to "Edit",edit_subline_path(@subline), class: "btn btn-success" %>
<%= link_to "Back",sublines_path, class: "btn btn-info" %>
